<%= form_for(@cooperator) do |f| %>
  <% if @cooperator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cooperator.errors.count, "error") %> prohibited this cooperator from being saved:</h2>

      <ul>
      <% @cooperator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, @possible_users,:id,:email, include_blank: false %>
  </div>
  <div class="field">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.select(:role, @possible_roles.map { |role| [ role, role ] }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
