<h1>[FooBarBlubber]</h1>
(<%=t"validation.This_is_your_anti_phishing_secret" %>)

<% if @valid && @sold_product.downloadable? %>


  <div class="alert alert-success"><%=t"validation.This is a valid Code"%>.</div>
  <h1><%=@sold_product.name %></h1>
  <div class="row">
    <div class="col-xs-6">
      <span class="product-previews">
        <% if @sold_product.former_product.images.length > 0 %>
          <% @sold_product.former_product.images.each do |image| %>
            <%=link_to @sold_product.product do
              image_tag(image.image.url(:thumb))
            end %>
          <% end %>
        <% end %>
      </span>
    </div>
    <div class="col-xs-6">
      <a href="<%=issue_path %>" data-method="delete" class="btn btn-primary btn-block" ><%=t"validation.Use it"%></a>
      <hr>
      <a href="<%=validation_index_path%>" class="btn btn-danger btn-block"  ><%=t"validation.Cancel"%></a>
    </div>
  </div>


<% elsif @valid && @sold_product.issued? %>

  <div class="alert alert-danger"><%=t"validation.This Ticket has already been used"%></div>

<% else %>
  <div class="alert alert-danger"><%=t"validation.This is not a valid Ticket"%></div>
<% end %>
