<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%=t".Import"%></div>
      <div class="panel-body">
        <%=form_tag import_payments_csv_orders_path, multipart: true do%>
          <%= file_field_tag :file  %>
          <%=submit_tag t".Import Payments from CSV"%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%=t".Export"%></div>
      <div class="panel-body">
        <%=link_to t(".CSV Export"), orders_path(format: "csv")%>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%=t".Remind user on open orders"%></div>
      <div class="panel-body">
        <%=link_to t(".remind open orders"), remind_open_orders_orders_path, :method => :post, class: "btn btn-big btn-block btn-primary", :data => {:confirm => "Are you sure to send an email to all users, that have open orders?"}%>
      </div>
    </div>
  </div>
</div>

<%=@foo%>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"><%=t".All orders"%></div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th><%=t".Number" %></th>
              <th><%=t".Transfer token" %></th>
              <th><%=User.human_attribute_name(:email)%></th>
              <th><%=t".Products"%></th>
              <th><%=t".Sum"%></th>
              <th><%=t".Paid?"%></th>
            </tr>

            <% @orders.each do |order| %>
            <tr id="order-<%=order.id%>">
              <td>#<%=order.id%></td>
              <td>#<%=order.transfer_token%></td>
              <td><%=mail_to order.user.email if order.user %></td>
              <td><%=order %></td>
              <td><b><%=number_to_currency order.sum %></b></td>
              <td class="state">
                <% if order.reserved? %><span class="label label-warning"><%=t"orders.Reserved"%></span><% end %>
                <% if order.paid? %><span class="label label-success"><span class="fa fa-check"></span> <%=t"orders.Paid"%></span><% end %>
                <% if order.canceled? %><span class="label label-danger"><%=t"orders.Canceled"%></span><% end %>
                <% if order.reserved? %><hr class="small"><%=link_to t(".Mark as purchased"), purchase_order_path(order, format: :json), method: :post, remote: true, data:{confirm: "#{t".Mark ORDER_ID as purchased?", order_id: order.id}"}, class: "btn btn-primary btn-xs mark-as-purchased"%><% end %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
