<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t".Order XX", order_no: @order.id%></h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt><%=Order.human_attribute_name(:state)%>:</dt>
        <dd>
          <% if @order.reserved? %><span class="label label-warning"><%=t"orders.Reserved"%></span><% end %>
          <% if @order.paid? %><span class="label label-success"><span class="fa fa-check"></span> <%=t"orders.Paid"%></span><% end %>
          <% if @order.canceled? %><span class="label label-danger"><%=t"orders.Canceled"%></span><% end %>
          <% if @order.repaid? %><span class="label label-danger"><%=t"orders.Repaid"%></span><% end %>
        </dd>

        <% if @order.paid? %>
          <dt><%=t".Download"%>:</dt>
          <dd>

            <div class="hidden-xs">
              <%=link_to order_path(@order, format: "pdf"), style: "margin-bottom:4px;white-space: normal;" do %>
                <span class="fa fa-files-o"></span> <%=t(".PDF ticket collection")%>
              <% end %>
            </div>

            <div class="visible-xs">
              <%=link_to order_path(@order, format: "pdf"), class: "btn btn-default btn-block", style: "margin-bottom:4px;white-space: normal;" do %>
                <span class="fa fa-files-o"></span> <%=t(".PDF ticket collection")%>
              <% end %>

              <% unless ENV['ACTIVATE_PASSBOOK'].to_s == '' %>
                <% @order.sold_products.each do |sold_product| %>
                  <%=link_to sold_product_path(sold_product, format: "pkpass"), class: "btn btn-default btn-block", style: "margin-bottom:4px;white-space: normal;" do %>
                    <span class="fa fa-download"></span> <%=t(".Passbook NAME", name: sold_product.name)%>
                  <% end %>
                <% end %>
              <% end %>
            </div>

          </dd>

        <% end %>

        <% if @order.can_cancel? %>
        <br>
        <dt><%=t".Cancel now"%>:</dt>
        <dd>
          <%= link_to(t('.Cancel this reservation'), @order, :method => :delete, :class=>"btn btn-danger btn-sm", data: { confirm: t('.Are you sure to cancel this reservation?') }) %>
        </dd>
        <% end %>
      </dl>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t".Payment"%></h3>
    </div>

    <% if @order.canceled? %>
      <div class="panel-body">
        <p class="well">
          <%=t".A canceled order can't be paid"%>
        </div>
    <% end %>

    <% if @order.paid? or @order.repaid? %>
      <div class="panel-body">
        <p class="well">
          <%=t".You already purchased this order"%>
        </div>
    <% end %>

    <% if @order.can_purchase? %>
      <% unless @event.payment_iban.blank? or @event.payment_bic.blank? or @event.payment_receiver.blank? %>

        <div class="panel-body">
          <p class="well">
            <%=t".payment_flow.html", payment_sum: number_to_currency(@order.sum) %>
            <dl class="dl-horizontal">
              <dt><%=Order.human_attribute_name(:payment_receiver)%>:</dt>
              <dd><%= @event.payment_receiver %></dd>
              <dt><%=Order.human_attribute_name(:payment_iban)%>:</dt>
              <dd><%= @event.payment_iban %></dd>
              <dt><%=Order.human_attribute_name(:payment_bic)%>:</dt>
              <dd><%= @event.payment_bic %></dd>
              <dt><%=t".REFERENCE"%>:</dt>
              <dd><%= @order.transfer_token %></dd>
            </dl>
            <% if @event.pay_until %>
              <%=t".Please be sure to pay until DATE, so we are able to prepare everything.html", date: l(@event.pay_until)%>
            <% end %>
          </div>
        </p>
      <% else %>
      <div class="panel-body">
        <p class="well">
          <%=t".payment_not_started"%>
        </p>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t".Updates"%></h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt><%=Order.human_attribute_name(:ordered_at)%>:</dt>
        <dd><%= l @order.created_at, :format => :default %></dd>
        <% unless @order.paid_at.nil? %>
          <dt><%=t".Paid at"%>:</dt>
          <dd><%=l @order.paid_at%> (<%=@order.paid_by.to_s(@event, current_user) unless @order.paid_by.nil? %>)</dd>
        <% end %>
        <% unless @order.canceled_at.nil? %>
          <dt><%=t".Canceled at"%>:</dt>
          <dd><%=l @order.canceled_at%> (<%=@order.canceled_by.to_s(@event, current_user) unless @order.canceled_by.nil? %>)</dd>
        <% end %>
        <% unless @order.repaid_at.nil? %>
          <dt><%=t".Repaid at"%>:</dt>
          <dd><%=l @order.repaid_at%> (<%=@order.repaid_by.to_s(@event, current_user) unless @order.repaid_by.nil? %>)</dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading"><%=t".Ordered products"%></div>
    <div class="panel-body">
      <div>
        <table class="table">

          <% @order.sold_products.each do |sold_product| %>
            <tr>
              <td><%=link_to sold_product.name, product_path(sold_product.product) %></td>
              <td><%=t".price_incl_tax.html", price: number_to_currency( sold_product.price), tax: "#{sold_product.tax}%" %></td>
              <td class="hidden-xs">
                <% if sold_product.reserved? %><span class="label label-warning"><%=t"sold_product.Reserved"%></span><% end %>
                <% if sold_product.downloadable? %><span class="label label-success"><span class="fa fa-check"></span> <%=t"sold_product.Downloadable"%></span>
                  <br> <%=link_to t(".PDF Ticket"), sold_product_path(sold_product,format: "pdf") %>
                  <br> <%=link_to t(".Passbook Ticket"), sold_product_path(sold_product,format: "pkpass") unless ENV['ACTIVATE_PASSBOOK'].to_s == '' %>
                <% end %>
                <% if sold_product.canceled? %><span class="label label-danger"><%=t"sold_product.Canceled"%></span><% end %>
                <% if sold_product.repaid? %><span class="label label-danger"><%=t"sold_product.Repaid"%></span><% end %>
                <% if sold_product.issued? %><span class="label label-danger"><%=t"sold_product.Already used"%></span>
                  <br> <%=link_to t(".PDF Ticket"), sold_product_path(sold_product,format: "pdf") %>
                  <br> <%=link_to t(".Passbook Ticket"), sold_product_path(sold_product, format: "pkpass") unless ENV['ACTIVATE_PASSBOOK'].to_s == '' %>
                <% end %>
              </td>
            </tr>
          <% end %>


        </table>
      </div>
    </div>
    <div class="panel-footer">&nbsp;
      <% if @order.repaid? %>
        &nbsp;<span class="pull-right"><%=t"orders.Repaid"%>: -<%=number_to_currency @order.sum_repaid %></span><br>
      <% end %>
      &nbsp;<b class="pull-right"><%=t".Sum"%>: <%=number_to_currency @order.sum %></b>
    </div>
  </div>
</div>


<%# link_to 'Edit', edit_product_path(@product) %>
<%# link_to 'Back', products_path %>
