<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Order #<%=@order.id%></h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Ordered at:</dt>
        <dd><%= @order.created_at.to_s(:pretty) %></dd>
        <dt>State:</dt>
        <dd>
          <% if @order.reserved? %><span class="label label-warning">Reserved</span><% end %>
          <% if @order.paid? %><span class="label label-success"><span class="fa fa-check"></span> Paid</span><% end %>
          <% if @order.canceled? %><span class="label label-danger">Canceled</span><% end %>
        </dd>

        <% if @order.can_cancel? %>
        <br>
        <dt>Cancel now:</dt>
        <dd>
          <%= link_to('Cancel this reservation', @order, :method => :delete, :class=>"btn btn-danger btn-sm", data: { confirm: 'Are you sure to cancel this reservation?' }) %>
        </dd>
        <% end %>
      </dl>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Payment</h3>
    </div>

    <% if @order.canceled? %>
      <div class="panel-body">
        <p class="well">
        A canceled order can't be paid.
        </div>
    <% end %>

    <% if @order.paid? %>
      <div class="panel-body">
        <p class="well">
        You already purchased this order.
        </div>
    <% end %>

    <% if @order.can_purchase? %>
      <% unless @event.payment_iban.blank? or @event.payment_bic.blank? %>

        <div class="panel-body">
          <p class="well">
          In order to finish the checkout process, transfer exactly <strong><%= number_to_currency @order.sum %></strong> to us with a SEPA-Transaction.
            <dl class="dl-horizontal">
              <dt>IBAN:</dt>
              <dd><%= @event.payment_iban %></dd>
              <dt>BIC:</dt>
              <dd><%= @event.payment_bic %></dd>
              <dt>REFERENCE:</dt>
              <dd><%= @order.transfer_token %></dd>
            </dl>
          </div>
        </p>
      <% else %>
      <div class="panel-body">
        <p class="well">
          At the moment payment is not possible. You will receive an E-Mail with further information as we start.
        </p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">Ordered products</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">

          <% @order.sold_products.each do |sold_product| %>
            <tr>
              <td><%=link_to sold_product.name, product_path(sold_product.product) %></td>
              <td><b><%=sold_product.price %> EUR</b> <i>(incl. <%=sold_product.tax %>% tax)</i></td>
              <td>
                <% if sold_product.reserved? %><span class="label label-warning">Reserved</span><% end %>
                <% if sold_product.downloadable? %><span class="label label-success"><span class="fa fa-check"></span> Downloadable</span><% end %>
                <% if sold_product.canceled? %><span class="label label-danger">Canceled</span><% end %>
                <% if sold_product.issued? %><span class="label label-danger">Already used</span><% end %>
              </td>
              <td>
                  <style type="text/css">
                  table.qr {
                    border-width: 0;
                    border-style: none;
                    border-color: #0000ff;
                    border-collapse: collapse;
                  }
                  table.qr td {
                    border-width: 0;
                    border-style: none;
                    border-color: #0000ff;
                    border-collapse: collapse;
                    padding: 0;
                    margin: 0;
                    width: 2px;
                    height: 2px;
                  }
                  table.qr td.black { background-color: #000; }
                  table.qr td.white { background-color: #fff; }
                  </style>

                  <table class="qr">
                  <%=link_to "verify", validation_url = validation_url(:sold_product_id => sold_product.id, :verification_token => sold_product.verification_token) %>
                  <% sold_product.qr(validation_url).modules.each_index do |x| %>
                    <tr>
                    <% sold_product.qr(validation_url).modules.each_index do |y| %>
                     <% if sold_product.qr(validation_url).dark?(x,y) %>
                      <td class="black"/>
                     <% else %>
                      <td class="white"/>
                     <% end %>
                    <% end %>
                    </tr>
                  <% end %>
                  </table>

              </td>
            </tr>
          <% end %>


        </table>
      </div>
    </div>
    <div class="panel-footer">&nbsp;<b class="pull-right">Sum: <%=@order.sum %>EUR</b></div>
  </div>
</div>


<%# link_to 'Edit', edit_product_path(@product) %>
<%# link_to 'Back', products_path %>
