
<div class="page-header">
  <%= link_to t('products.New product'), new_product_path, :class => "btn btn-primary" if can? :create, Product.new(:event => @event) %>
  <h1><%=t".Products for"%> <%= @event.name %></h1>
</div>

<%= form_tag orders_path, method: :post do %>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <% if can? :create, Order %>
            <th><%=Product.human_attribute_name(:quantity)%></th>
          <% end %>
          <th><%=Product.human_attribute_name(:name)%></th>
          <th><%=Product.human_attribute_name(:price)%></th>
          <th><%=Product.human_attribute_name(:description)%></th>
          <% if can? :update, Product.new(:event => @event) %>
            <th colspan="3"></th>
          <% else %>
            <th colspan="1"></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <% if can? :create, Order %>
              <td>
                <div class="selling" data-product-id="<%=product.id%>" data-name="order[sold_products_attributes][][product_id]" data-max-pieces="<%=product.low_stock_warning %>">

                  <% unless product.inactive %>
                    <div class="btn btn-default btn-xs less-products"><span class="fa fa-minus"></span></div>

                    <span class="sells">&nbsp;</span>

                    <div class="btn btn-default btn-xs more-products"><span class="fa fa-plus"></span></div>
                  <% end %>
                  <% if product.inactive %>
                    <p class="text-danger"><%=t".Not available"%></p>
                  <% end %>
                  <% if low_stock=product.low_stock_warning %>
                    <%  if low_stock == 0 %>
                      <p class="text-danger"><%=t".Sold out"%></p>
                    <% else %>
                      <p class="text-danger"><%=t".Only XXX left.html", stock: low_stock%></p>
                    <% end %>
                  <% end %>
                </div>

                <% number_field_tag "order[sold_products_attributes][][product_id]", product.id %>
              </td>
            <% end %>
            <td><%= link_to product.name, product %></td>
            <td><%= number_to_currency(product.price) %></td>
            <td>
              <% if product.images.length > 0 %>
                <span class="product-previews">
                  <% product.images.each do |image| %>
                    <%=link_to product do
                      image_tag(image.image.url(:thumb), height: "50px")
                    end %>
                  <% end %>
                </span>
              <% end %>
              <%= markdown product.description %>
            </td>
            <td><%= link_to t('scaffold.Show'), product %></td>
            <% if can? :update, product %>
              <td><%= link_to t('scaffold.Edit'), edit_product_path(product) %></td>
              <td><%= link_to t('scaffold.Destroy'), product, method: :delete, data: { confirm: t('scaffold.Are you sure?') } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if can? :create, Order %>
    <div class="col-sm-2 col-sm-offset-7">
      <%= content_tag "button", type:"submit", class: "btn btn-primary" do %>
        <%=t(".Make a reservation")%> <span class="fa fa-chevron-right"></span>
      <% end %>
    </div>
  <% end %>

<% end %>
