<div class="row">
  <%@product.images.each do |image|%>
    <div class="col-xs-6 col-md-3">
      <%= link_to image.image.url do
        image_tag image.image.url, class: "thumbnail"
      end %>
    </div>
  <% end %>
</div>

<p>
  <strong><%=Product.human_attribute_name(:name)%>:</strong>
  <%= @product.name %>
</p>

<p>
  <strong><%=Product.human_attribute_name(:price)%>:</strong>
  <%= number_to_currency @product.price %> (<%=t".incl tax", tax: @product.tax %>)
</p>

<p>
  <strong><%=Product.human_attribute_name(:description)%>:</strong>
  <div class="well"><%= markdown @product.description %></div>
</p>


<% if can? :edit, @product %>
  <p>
    <strong><%=Product.human_attribute_name(:quantity)%>:</strong>
    <%= @product.quantity %>
  </p>
  <p>
    <strong><%=Product.human_attribute_name(:available_count)%>:</strong>
    <%= @product.available_count %>
  </p>
  <p>
    <strong><%=Product.human_attribute_name(:issued)%>:</strong>
    <%= @product.issued.count %>
  </p>
<% end %>

<% if can? :update, @product %>
  <%= link_to t('scaffold.Edit'), edit_product_path(@product) %> |
<% end %>
<%= link_to t('scaffold.Back'), products_path %>
